/* Conseguir uma fonte do goole após o posicionamento */
*{
    padding:0;
    margin:0; 
    border:0;
    font-family: 'Courier New', Courier, monospace;
}
body{

    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("../img/bg.jpeg");

}

#main{

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    
    


}
header{
    box-sizing: border-box;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px;
}

section{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-top: 20px;
}

form{

    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    border: 3px solid black;
    border-radius:5px;
    padding:5vh;
    background-color:#2e36a6;
    color: white;

}

label{
    margin-top:20px;
    font-weight: bold;
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 5px;
}
 
input, button {

    padding: 10px 20px;
    border-radius: 5px;

}

.botao{

    background-color: black;
    border-radius: 25px;
    color: white;
    margin-top:20px;
    width: 98px;
    padding: 8px 8px;
    text-align: center;
    font-weight: bold;

}

img{
    border-radius:5px;
    width:80px;
}

ul{
    display: flex;
}
ul li {

    margin-left: 10px;
    background-color: black;
    border-radius: 25px;
    display: flex;
}

ul li a {

    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 98px;
    padding: 8px 8px;
    text-align: center;
}

ul li a:hover {

    color: #2e36a6;

}

table {
    text-align: center;
}

thead tr {
    background-color: #cc1278;
    border: 3px solid black;
    
}

tbody tr {
    color: white;
}
